*{
    margin: 0;
    padding: 0;
    font-family:"Poppins",sans-serif ;
    box-sizing: border-box;
}
body{
    background: #fff;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    place-content:center;
}

.container{
    background-color: rgb(116, 113, 113);
    padding: 10px 30px;
    width: 400px;
    box-shadow: 0 0 20px rgb(143, 143, 143);
    border-radius:7px ;
    

}
h2{
    margin: 15px 5px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    color: black;
    text-shadow:8px rgba(252, 248, 248, 0.4);
}

.hr1{
    height: 5px;
    background-color: #2600ff;
    border: 0;
    border-radius: 5px;
}


.passwordbox{
    position: relative;
    margin: 15px 0px;

}

#Password{
    width: 100%;
    padding: 10px 20px;
    outline: 0;
    border: 3px solid #2600ff;
    border-radius: 6px;
    color:  #2600ff;
    font-weight: 600;
    font-size: 20px;

}
#password::placeholder{
    font-weight: 400;
}
.passwordbox span{
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 28px;
    color: #070707;
    font-weight: 900;

}

.lengthRow{
    margin-top:20px ;
    display: flex;
    justify-content:space-between;
    font-weight: 600;
}

.lengthRow p{
    color:rgb(10, 10, 10) ;
}

#LengthSlider{
    appearance: none;
    background-color: #2600ff;
    width: 100%;
    height: 5px;
    outline: none;
    border-radius: 50px;
    margin-bottom: 20px;
}

#LengthSlider::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    background: #2600ff;
    border: 3px solid #fff;
    border-radius: 50px;
    outline: 2px solid #2600ff;
    cursor: pointer;

}
.row{
    margin: 15px 0px;
    position: relative;
    box-shadow: 0 0 8px rgba(226, 226, 226, 0.4);
    padding: 10px 15px;
    border-radius:10px ;
    display: flex;
    align-items: center;

}

.row label{
    margin-inline: 5px;
    font-weight: 600;
}

.checkbox{
    color: #2600ff;
    cursor: pointer;
    font-size: 28px ;
}

button{
    position: relative;
    width: 100%;
    padding: 10px 20px;
    border-radius: 7px;
    background: #2600ff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: 0;
    margin-block: 10px;
    font-size: 18px;
}
button span{
    margin-inline: 5px;

}